@model Sanatorium.Models.Sanatorium
@{
    ViewBag.Title = "施工范围";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="header">
    <div class="left">
        <a href="javascript:window.history.back();"><i class="fa fa-2x fa-angle-left"></i></a>
    </div>
    <div class="center">
        施工范围
    </div>
    <div class="right">

    </div>
</div>



<div class="baseinfo">
    <div class="htmlcontent">@(new HtmlString(Model.ShiGongScope)) </div>
    
</div>


